<h1 class="text-center my-2">
    Home</h1>
<div class="main">
    <div id="carouselExampleCaptions" class="carousel slide slider" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner slider my-4 pboxshadow">
            <div class="carousel-item active">
                <img src="https://cdn.pixabay.com/photo/2016/11/18/14/05/brick-wall-1834784_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Nice Ambience!!</h5>
                    <p>Get here with some friends.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2014/09/17/20/26/restaurant-449952_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Good drinks!!</h5>
                    <p>Get drunk with style.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://cdn.pixabay.com/photo/2013/09/05/10/38/catering-179046_960_720.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Good food!!</h5>
                    <p>Get yourself some amazing food.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="text pboxshadow">
        <h2>Our Restaurant</h2>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit atque ut accusamus cum, nisi placeat delectus officiis, odio, vero qui blanditiis ducimus. Sit eos ad, dolor dolore maxime ipsa tempora. Voluptates possimus aspernatur at sunt porro
            perspiciatis, placeat cumque totam, ullam aut recusandae nostrum reprehenderit saepe, impedit laudantium fuga reiciendis repellendus veniam iste necessitatibus veritatis. Id quidem vel nobis adipisci? Praesentium hic doloremque nam delectus
            earum! In earum doloribus, explicabo quia asperiores esse vero velit! Asperiores, officia odit commodi libero sed non ipsam pariatur atque molestias perspiciatis vel suscipit ipsum. Illum veritatis voluptatem repudiandae impedit suscipit nesciunt
            dolorum voluptates sapiente, aspernatur, minus molestias officiis esse ut quas non itaque voluptate similique, error maxime consectetur recusandae ipsam quis explicabo obcaecati? Harum? Eos ea eligendi, quibusdam ipsa quidem vel veritatis
            delectus pariatur, tempore ducimus hic atque perferendis laboriosam aut, veniam nam aspernatur perspiciatis assumenda. Rem aut repellat dolor voluptate ducimus esse possimus.</p>
    </div>

    <div class="text pboxshadow d-flex">
        <div><img src="https://cdn.pixabay.com/photo/2017/08/03/21/48/drinks-2578446_960_720.jpg" alt="drinks" class="round"></div>
        <div>
            <p class="imgtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. In suscipit, vero fuga aut recusandae aliquam ullam quo voluptate necessitatibus! Nostrum ipsum, dolores ipsam modi fugiat cupiditate dolore id nesciunt suscipit. Eos neque ipsam fugit
                totam voluptas quae. Laboriosam amet iure ratione perspiciatis molestias reprehenderit quas molestiae quasi illo voluptatem nostrum officiis veritatis porro maxime, necessitatibus ipsum tempore dolores. Corporis, ut.</p>
        </div>
    </div>

</div>