<div class="main">
    <h1 class="text-center my-2">
        About us</h1>
    <div class="text pboxshadow">
        <h2>Who we are</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.iatis, placeat cumque totam, ullam aut recusandae nostrum reprehenderit saepe, impedit laudantium fuga reiciendis repellendus veniam iste necessitatibus veritatis. Id quidem vel nobis adipisci?
            Praesentium hic doloremque nam delectus earum! In earum doloribus, explicabo quia asperiore</p>
        <hr>
        <h3>We're different than the rest</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit atque ut accusamus cum, nisi placeat delectus officiis, odio, vero qui blanditiis ducimus. Sit eos ad, dolor dolore maxime ipsa tempora. Voluptates possimus aspernatur at sunt porro
            perspiciatis, placeat cumque totam, ullam aut recusandae nostrum reprehenderit saepe, impedit laudantium fuga reiciendis repellendus veniam iste necessitatibus veritatis. Id quidem vel nobis adipisci? Praesentium hic doloremque nam delectus
            earum! In earum doloribus, explicabo quia asperiores esse vero velit! Asperiores, officia odit commodi libero sed non ipsam pariatur atque molestias perspiciatis vel suscipit ipsum. Illum veritatis voluptatem repudiandae impedit suscipit nesciunt
            dolorum voluptates sapiente, aspernatur, minus molestias officiis esse ut quas non itaque voluptate similique, error maxime consectetur recusandae ipsam quis explicabo obcaecati? Harum? Eos ea eligendi, quibusdam ipsa quidem vel veritatis
            delectus pariatur, tempore ducimus hic atque perferendis laboriosam aut, veniam nam aspernatur perspiciatis assumenda. Rem aut repellat dolor voluptate ducimus esse possimus.</p>
        <hr>
        <h4>Check our Specials</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit atque ut accusamus cum, nisi placeat delectus officiis, odio, vero qui blanditiis ducimus. Sit eos ad, dolor dolore maxime ipsa tempora. Voluptates possimus aspernatur at sunt porro
            perspiciatis, placeat cumque totam, ullam aut recusandae nostrum reprehenderit saepe, impedit laudantium fuga reiciendis repellendus veniam iste necessitatibus veritatis. Id quidem vel nobis adipisci? Praesentium hic doloremque nam delectus
            earum! In earum doloribus, explicabo quia asperiores esse vero velit! Asperiores, officia odit commodi libero sed non ipsam pariatur atque molestias perspiciatis vel suscipit ipsum. Illum veritatis voldit suscipit nesciunt dolorum voluptates
            sapiente, aspernatur, minus molestias officiis esse ut quas non itaque voluptate similique, error maxime consectetur recusandae ipsam quis explicabo obcaecati? gnam.</p>
    </div>



</div>